
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}
.title {
  text-align: center;
  color: #333;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.price {
  color: green;
  font-weight: bold;
}
.cart-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
}

.cart-container {
  width: 70%;
  margin: auto;
}

.cart-item {
  display: grid;
  grid-template-columns: 80px 1fr 120px 120px;
  gap: 15px;
  align-items: center;
  background: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 70px;
}

.cart-item h3 {
  margin: 0;
}

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  text-align: right;
}

.cart-summary h2 {
  margin: 0;
  color: #333;
}

.total {
  font-size: 28px;
  color: green;
  font-weight: bold;
}


header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

.book-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book-card h3 {
    margin: 0.5rem 0;
}

.book-card p {
    margin: 0.2rem 0;
}

.book-card .price {
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 0.5rem;
}


.home-bg {
  height: 100vh;
  background-image: url("../images/library.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-box input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #218838;
}
